:root {
  ---font-family: 'Roboto', sans-serif;
}

.header a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: #212121;
  font-weight: 500;
}

.header li :hover{
  color:#2196F3;
}

span {
  color: #2196F3;
}

.imagine {
  background-color: #2F303A;
  width: 1600px;
  height: 600px;
  top: 80px;
}

.header ul{
  list-style: none;
}

.header__navigation {
  font-weight: 500;
  font-size: 14px;
}

.header__navigation a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: #212121;
  
}

.header__navigation address {
  font-family:var(---font-family);
}

.previu {
  background-color: #2F303A;
  font-weight: 1600px;
  height: 600px;
  top: 80px;
}

.previu h1 {
  color: #FFFFFF;
  font-family: var(--primary-font);
  font-size: 44px;
  position: absolute;
  width: 696px;
  height: 120px;
  top: 280px;
  left: 452px;
}

.previu button {
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: var(--primary-font);
  font-size: 17px;
  width: 200px;
  height: 50px;
  border-radius: 4px;

}

.cuprins {
  font-family: var(--primary-font);
}

.cuprins h4 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
}

.imagine h2 {
  font-family: var(---font-family);
  font-weight: 700;
  font: size 36px;
}

.final {
  background-color: #212121;
}

.final h2 {
  color: #FFFFFF;
}

.personal h2 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
}

.personal h4 {
  font-family: var(--primary-font);
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.personal p {
  font-family: var(---font-family);
  font-weight: 400;
  color: #757575;
  font-size: 16px;
}

.final a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
}

.final address a {
  font-family: var(--primary-font);
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

.final address br {
  font-family: var(---font-family);
  color: #FFFFFF;
}

.button {
  font-family: var(---font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #212121;
  border-radius:4px;
  background-color: white;
}
.button :hover {
  background-color: #2196F3;
  color:white;
   border-radius:4px;
}
